.body {
  font-family: "Montserrat", "sans-serif";
}

.max-h-200 {
  max-height: 200px;
}
.max-h-0 {
  max-height: 0;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.nav-h-transition {
  transition: max-height 0.5s ease-out;
}

.tw-h-16 {
  height: 1rem !important;
}

.hide-border-t-first > *:first-child {
  border-top: none !important;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
